body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #b88f25;
    color: white;
    text-align: center;
    padding: 40px;
}

h1 {
    margin-bottom: 10px;
    font-size: 40px;
}

p {
    font-size: 18px;
}

.about {
    width: 80%;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

h2 {
    color: #b88f25 ;
}