body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

/* Header */

header {
    background-color: #b88f25;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

h1 {
    margin-bottom: 10px;
    font-size: 42px;
}

h2 {
    color: #b88f25;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}

/* Reusable Card */

.card {
    width: 85%;
    margin: 35px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Skills */

.skills ul {
    padding-left: 20px;
}

.skills li {
    margin-bottom: 10px;
}

/* ---------- FLEXBOX ---------- */

.project-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    flex: 1;
    min-width: 250px;
    background: #fafafa;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card h3 {
    color: #b88f25;
}

/* Links */

a {
    color: #b88f25;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Footer */

footer {
    text-align: center;
    padding: 25px;
    color: gray;
}